body{
    background-color: #e9ebee;
    color: #1c1e21;

}

.headermain{

  height: 50px;
  width: 100%;
  background-color: white;
  border-bottom: #0000001a;
}
.headerleft{
  border: none;
  height: 50px;
  width: 400px;
  float: left;
}
.logoimg{
  position: fixed;
  height: 50px;
  margin-left: 10px;
}
.headerright{
  float: right;
  border: none;
  height: 50px;
  width: 650px;

}
.nav{
  list-style-type: none;
}
.email{
  height: 35px;
  width: 170px;
  border-radius: 5px;
  margin-top: 5px;
  margin-left: 15px;
  border: 0.1px solid rgb(179, 179, 179);
  font-size: 15px;
  padding-left: 10px;
}
.email:focus{
  outline: 1.5px solid #1877F2;
  box-shadow: 0px 0px 3px #1877F2;
}
.password{
  height: 35px;
  width: 170px;
  border-radius: 5px;
  margin-top: 5px;
  margin-left: 7px;
  border: 0.1px solid rgb(179, 179, 179);
  font-size: 15px;
  padding-left: 10px;
}
.password:focus{
  outline: 1.5px solid #1877F2;
  box-shadow: 0px 0px 3px #1877F2;
}
.loginbutton{
    height: 39px;
    margin-top: 5px;
    margin-left: 10px;
    font-weight: 600;
    width: 70px;
    color: white;
    background-color: #1877F2;
    border: 2px solid #1877F2;
    border-radius: 5px;
    font-size: 14px;
}
.forgotten{
    margin-left: 10px;
    color: #1877F2;
    text-decoration: none;
    height: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}

.main{

  height: 400px;
  width: 100%;


}

.find{
    margin-top: 80px;
    margin-left: 500px;
    height: 280px;
    border-radius: 10px;
    box-shadow: 0px 1px 2px #0000001a;
    width: 500px;
    color: black;
    background-color: white;
    text-align: left;
}
.heading{
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 15px;
    margin-left: 20px;
    font-size: 20px;
}
.paregraph{
    margin-left: 20px;
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    margin-right: 20px;
}
.input1{
    margin-left: 20px;
    height: 45px;
    width: 90%;
    border-radius: 5px;
    border: 1px solid #8a8d91;
    padding-left: 10px;
    font-size: 16px;

}
.cancel{
    margin-left: 295px;
    height: 35px;
    width: 90px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    background-color: #e9ebee;
    color: #4b4c4d;
    margin-top: 5px;
}
.search{
    margin-left: 2px;
    height: 35px;
    width: 90px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    background-color:#1877F2;
    color: white;
    margin-top: 5px;    
}



.footermain{
  padding-top: 120px;
  height: 200px;
  background-color: white;
  width: 100%;
  justify-content: center;
  text-align: center;

}
.language{
  color: #8a8d91;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  margin-right: 10px;
  font-size: 12px;

}
.upper{
  margin-left: -420px;
  padding-top: 10px;
}
.hr1{
  margin-top: -10px;
  width: 990px;
  margin-left: 250px;
  color: #8a8d91;
}
.lower{
  margin-left: 250px;
  margin-right: 200px;
  text-align: left;
}
.footerlinks{
  color: #8a8d91;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  margin-right: 20px;
  font-size: 12px;
}