
body{
    justify-content: center;
    text-align: center;
    font-family: sans-serif;
}
/* hader start */
.headerdiv{
    height: 200px;
    width: 100%;
}
.upernav{
    height: 60px;
    width: 100%;
    background-color:#ffc107;
}
.upernavleft{
    float: left;
    width: 206.5px;
    margin-left: 190px;
    margin-top: 15px;
    display: flex;
    flex-wrap: wrap;

}
.upernavimg{
    height: 25px;

}
.uperface{
    float: left;
    width: 50px;
    

}
.upertwit{
    float: left;
    width: 50px;
    

}
.uperinsta{
    float: left;
    width: 50px;
    

}
.uperlink{
    float: right;
    width: 50px;
    

}
.upernavright{
    float: right;

    margin-top: 15px;
    margin-right: 220px;
    
}
.uperspan{
    font-size: 18px;
}
.downleft{
    float: left;
    
    margin-left: 190px;
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
   
}
.downright{
    float: left;
   
    margin-top: 40px;
   
    width: 750px;
    height: 40px;
    padding-top: 15px;
}
.logindiv{
    float: right;
    margin-right: 198px;
    background-color: #ffc107;
    height: 30px;
    width: 100px;   
    margin-top: 40px;
    padding-top: 12px;
    border-radius: 10px;
}
.homediv{
    float: left;
    width: 120px;
    color: #ffc107;
        
}
.aboutdiv{
    float: left;
    width: 120px;
        
}
.productdiv{
    float: left;
    width: 120px;
        
}
.blogdiv{
    float: left;
    width: 120px;
       
}
.contactdiv{
    float: left;
    width: 120px;
        
}
.signupdiv{
    float: left;
    width: 120px;
        
}
.homebutton{
    background-color: white;
    border: 2px solid white;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    text-decoration: none;

}
.homebuttony{
    background-color: white;
    border: 2px solid white;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffc107;
    text-decoration: none;

}

.homebutton:hover{
    color: #ffc107;
}


.homebutton1{
    background-color:#ffc107;
    height: 60px;
    width: 120px;
    color: black;
    text-decoration: none;
    
  
    font-size: 16px;
    font-weight: 500;
}
.homebutton1:hover{
    color: white;
}
/* header complete */
.aboutcontain{
    height: 170px;
    width: 100%;
    background-color: #ffc107;
    padding-top: 40px;

}
.h1about{
    font-size: 45px;
    font-weight: 700;

}
.lightenabout{
    height: 450px;
    width: 100%;
    margin-top: 100px;
}
.lightenleft{
    float: left;
    height: 450px;
    width: 40%;
    margin-left: 200px;
    
}
.lightenaboutimg{
    margin-top: 30px;
    height: 390px;
}
.lightenright{
    float: left;
    height: 450px;
    width: 40%;
    text-align: left;

}
.lightenh1{
    font-size: 40px;
}
.lightenp{
    font-size: 17px;
    line-height: 23px;
    font-weight: 300;
}
/*read more start*/
.linkmore{
    text-decoration: none;
    color: white;
    font-family: sans-serif;
    font-size: 25px;
    margin-left: 20px;
    padding-top: 20px;
    margin-top: 20px;
}
.span1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    color: #ffc107;
}
.span2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    
}

.span3{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    
}
.hrline{
    margin-left: 680px;
    float: none;
    background-color: black;
    width: 120px;
    height: 10px;
}
.detail{
    background-color:#ffc107;
    height: 450px;
    width: 100%;
    justify-content: center;
    display: flex;
}
.detail1{
    height: 450px;
    width: 75%;
    background-color: white;
    box-shadow: #ddd 0px 0px 10px 3px;

}
.detailmain{
    
    height: 400px;
    width: 95%;
    margin-top: 40px;
    margin-left: 25px;
    display: flex;
    flex-wrap: wrap;
}
.row{
    
    width: 24.85%;
    height: 330px;
    text-align: center;
    
}
.detailspan{
    font-family: sans-serif;
    font-size: 26px;
}
.detailspan2{
    font-family: sans-serif;
    font-size: 16px;
    line-height: 28px;
    color: #0d0c0a;

}
.read{
    margin-bottom: 20px;
    padding-top: 20px;
    height: 40px;
    border: 2px solid #ffc107;
    width: 180px;
    color: white;
    background-color: white;
    text-decoration: none;
    margin-left: 450px;

}
.reada{
    text-decoration: none;
    font-family: sans-serif;
    color: black;
    font-size: 20px;
}

.read:hover{
    color: white;
    background-color: #ffc107;
}
/* service start*/
.serviceheading{
    color: #ffc107;
    font-family: sans-serif;
    font-size: 50px;
    font-weight: 500;
    
}
.hrline1{
    margin-left: 680px;
    float: none;
    background-color: black;
    width: 130px;
    height: 10px;
}
.service{
   
    height: 770px;
    width: 100%;
}
.serviceheading2{
    font-weight: 500;
    font-family: sans-serif;
    font-size: 50px;
    
}
.servicespan{
    font-family: sans-serif;
    font-size: 30px;
    
}
.servicediv{
    height: 200px;
    width: 300px;

    padding: 30px 20px;
    box-shadow: #00000040 0px 0px 19px 0px;
    margin-bottom: 30px;
    text-align: center;
}
.serviceoptions{
    display: grid;
    grid: auto auto auto /  auto auto auto;
    grid-gap: 30px;
    padding-bottom: 10px;
    justify-content: center;
}
.serviceh{
    color: #020000;
    text-align: center;

}
/*footer start */

.footermain{
    background-color: #1b1b1b;
    height: 586px;
    justify-content: center;
    text-align: center;
    width: 100%;
}
.footersocial{
    float: none;
    width: 326.5px;
    margin-left: 600px;
    padding-top: 80px;
    display: flex;
    flex-wrap: wrap;

}
.lowernavimg{
    height: 35px;

}
.lowerface{
    float: left;
    width: 80px;
    

}
.lowertwit{
    float: left;
    width: 80px;
    

}
.lowerinsta{
    float: left;
    width: 80px;
    

}
.lowerlink{
    float: right;
    width: 80px;
    

}
.footerlinkmain{
    height: 300px;
    width: 80%;
    margin-left: 140px;
    margin-top: 15px;
}
.footercontact{
    float: left;
    height: 300px;
    width: 24.86%;    

}
.footeradditional{
    float: left;
    height: 300px;
    width: 24.87%;
    text-align: left;
}
.footerservice{
    float: left;
    height: 300px;
    width: 24.87%;
    text-align: left;
}
.footerabout{
    float: left;
    height: 300px;
    width: 24.86%;
    text-align: left;
}
h2{
    color: white;
    text-align: left;
    font-weight: 700;
    font-family: sans-serif;
}
address{
    color: white;
    font-family: sans-serif;
    font-size: 20px;
    text-align: left;
    line-height: 40px;
}
.additionallinks{
    text-decoration: none;
    color: white;
    font-family: sans-serif;
    font-size: 20px;
    text-align: left;
    line-height: 40px;
}
.additionallinks:hover{
    color: #ffc107;
}
.aboutp{
    color: white;
    font-family: sans-serif;
    font-size: 20px;
    line-height: 40px;
}
.copyright{
    height: 42px;
    width: 100%;
    background-color: #ffc107;
    color: black;
    padding-top: 18px;
}
.copyspan{
    font-family: sans-serif;
    font-size: 20px;
    margin-top: 20px;    
}
.copyspan1{
    text-decoration: none;
    color: black;
}
.copyspan1:hover{
    color: white;
}