body {
    margin: 0px;
    font-family: -apple-system, "Helvetica Neue", sans-serif, "Mier Book";
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.5px;
    line-height: 1.5;
    text-align: left;
   
}
header{
    background-color: rgb(255, 255, 255);
    position: fixed;
}

.headerupperdiv{
    height: 70px;
    width: 100%;
    border: 1px solid rgb(206, 206, 222);
    justify-content: center;
    background-color: white;

}
.u1{
    float: left;
    margin-top: 12px;
    margin-left: 62px;
}
.meeshoLogo{
    height: 36px;
}
.u2{
    float: left;
    margin-left: 35px;
    margin-top: 12px;
    border: 1px solid rgb(139, 139, 163);
    height: 45px;
    width: 600px;
    border-radius: 5px;
}
.searchimg{

    height: 23px;
    margin-left: 10px;
    margin-top: 14px;

}
.searchbardiv{
    float: right;
    margin-top: 12px;
    margin-right: 14px;

}
.searchbar{
    height: 30px;
    width: 540px;
    caret-color: rgb(159, 32, 137);
    color: rgb(53, 53, 67);
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    margin-top: -40px;
    margin-left: 5px;
    border: 1px solid white;
}
.searchbar:focus{
    outline: none;
}

.u3{
    height: 50px;
    width: 175px;
    float: left;
    align-items: center;
    text-align: center;
    justify-content: center;
    display: flex;
    color: rgb(53, 53, 67);
    font-weight: 500;
    margin-top: 12px;
    margin-left: 60px;
    font-size: 15px;
}
.leftborder{
    margin-top: 17px;
    float: left;
    height: 55%;
    background-color: rgb(206, 206, 222);
    border-radius: 2px;
    width: 1.5px;

}
.u4{
    height: 50px;
    width: 170px;
    float: left;
    align-items: center;
    text-align: center;
    justify-content: center;
    display: flex;
    color: rgb(53, 53, 67);
    font-weight: 500;
    margin-top: 12px;
    margin-left: none;
    font-size: 15px;
}
.leftborder1{
    margin-top: 17px;
    float: left;
    height: 55%;
    background-color: rgb(206, 206, 222);
    border-radius: 2px;
    width: 2px;

}
.u5{
    float: left;
    height: 60px;
    width: 70px;
    margin-left: 33px;
    margin-top: 7px;
    
}
.profileimg{
    height: 47px;
    margin-top: 00px;    
}

.u6{
    float: left;
    height: 60px;
    width: 70px;
    margin-left: 18px;
    margin-top: 11px;

}
.cartimg{
    height: 47px;

}
.headerlowerdiv{
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: white;
    overflow: hidden;
    margin: auto;
    border-bottom: 2px solid rgb(216, 216, 218);

}
.slidediv{
    height: 35px;
    display: flex;
    background-color: white;
    width: 66%;
    margin-left: 80px;
    gap: 20px;
    display: flex;

    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
    
}

.slidediv::-webkit-scrollbar{
    display: none;
}

.slideitem{
    float: 0 0 auto;
    scroll-snap-align: start;
    white-space: nowrap;
    font-size: 15px;
    padding-top: 5px;
    color: rgb(53, 53, 67);
    cursor: pointer;
    justify-content: center;
    font-weight: lighter;
}
.slideitem:hover{
    color: rgb(159, 32, 137);
    border-bottom: 3px solid rgb(159, 32, 137);
}


/* header complete */

.main{
    height: none;
    padding-top: 120px;
}

.policydiv{
    height: 70px;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: #fdeefa;
    width: 100%;
    margin-top: -6px;
}
.policymain{
    height: 42px;
    width: 98%;
    background-color: white;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    border: 1px solid rgba(220, 148, 208, 0.5);
    background: rgb(255, 255, 255);
    margin-top: none;
    border-radius: 10px;
}
.return{
    height: 20px;
}

.policy2{
    font-size: 14px;
    margin-left: 10px;
    margin-top: -3px;

}

.policy3{
    background-color: rgba(220, 148, 208, 0.5);
    height: 20px;
    width: 1.5px;
    margin-left: 30px;
}

.policy4{
    margin-left: 30px;
}

.policy5{
    font-size: 14px;
    margin-left: 10px;
    margin-top: -3px;
    margin-left: 10px;
}

.policy6{
    margin-left: 30px;
    background-color: rgba(220, 148, 208, 0.5);
    height: 20px;
    width: 1.5px;
}

.policy7{
    margin-left: 30px;
}

.policy8{

    font-size: 14px;
    margin-left: 10px;
    margin-top: -3px;
}
.piclink{
    height: 250px;
    width: 95%;
    margin-left: 40px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.itemdiv{
    display: block;
    color: rgb(53, 53, 67);
    font-size: 14px;
    cursor: pointer;

}
.itemdiv:hover{
    margin-top: -20px;
    transition: 0.3s;
}
.itempic{
    height: 140px;
    margin-bottom: 10px;

}
.origenalbrandsdiv{
    height: 480px;
    width: 100%;
    display :flex;
    text-align: center;
    justify-content: center;
}

.origenalbrandsmain{
    height: 400px;
    width: 90%;
    text-align: center;
    margin-top: 80px;


}
.origenalbrandsupper1{
    font-size: 30px;
    color: rgb(53, 53, 67);
    float: left;
}
.origenalbrandsupper2{

    margin-left: 5px;
    width: auto;
    float: left;
}
.bluetick{
    height: 40px;
}
.origenalbrandsupper3{
    margin-left: 990px;
    width: auto;
    float: left;

}
.viewalllink{
    color: rgb(159, 32, 137);
    text-decoration: none;
    font-size: 18px;

}
.viewalllink:hover{
    text-decoration: underline;
}
.origenalbrandsupper4{
    margin-left: 10px;
    margin-top: 3px;
    width: auto;
}
.rightarrowp{
    height: 17px;
}

.productitemdiv{
    height: 305px;  
    width: 100%;    
    overflow: hidden;
    display: flex;
    align-items: center;
    display: flex;
    gap: 20px;
    margin-top: 40px;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
}
.productitems{
    scroll-snap-align: start;
    cursor: pointer;
    transition: 0.3s;
}
.productitemdiv::-webkit-scrollbar{
    display: none;
}
.productitempic{
    height: 300px;
}
.slidebranddiv{
    height: 150px;
    width: 100%;
    background-color: rgb(240, 233, 255);
    align-items: center;
    text-align: center;
    display: flex;
    overflow: hidden;

}
.slidebrandmain{
    align-items: center;
    text-align: center;
    display: flex;
    position: relative;  

    gap: 30px;
    animation: 30s linear 0s infinite normal none running scroll;
}
.slidebrand{
    position: relative;  
    height: 100px;
    width: 210px;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    border-radius: 10px;    
    background-color: white;
}
.slidebrandimg{

    position: ;  
    height: 50px;
    border-radius: 10px;
}

.productsmain{
    height: 50px;
    width: 100%;
}
/*    border: 1px solid rgb(234, 234, 242);
*/
.productname{
    font-size: 30px;
    margin-left: 70px;
    margin-top: 25px;
    color: rgb(53, 53, 67);
}
.itemselldiv{
    height: 2000px;
    width: 100%;

}
.itemsellleft{
    float: left;
    height: 1600px;
    width: 20%;
    margin-left: 80px;
    border: 1px solid rgb(234, 234, 242);
    border-radius: 10px;

}
.itemsellright{
    float: right;
    border: 1px solid rgb(234, 234, 242);
    height: 2000px;
    width: 70%;
    border-radius: 10px;
    margin-right: 20px;

}